.header-wrapper {
  padding: 10px 0px;
  z-index: 1;
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 5px 0px;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.024);
}
.chats-body {
  padding: 10px 0px;
  padding-top: 120px;
  min-height: 1000px;
}
.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}
.chats-body {
  background-image: url("../images/chevron.png");
  /* chat 클래스가 적용된 div에 viewport의 100% 높이를 준다 */
  min-height: 1000vh;
}
.chat-screen .chat__messages {
  padding-top: 25px;
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}
.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 30px;
  margin-bottom: 40px;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.024);
  text-transform: uppercase;
  font-weight: 700;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}
.chat__icon-left {
  position: absolute;
  left: 18px;
}
.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__write-container {
  position: fixed;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  /* background-color: #fcfcfc; */
  /* padding: 0px 20px; */

  /* 첫값 수평방향값 두번째 수직 값 마지막 blur값 */
  /* box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025); */
}
@keyframes float {
  0% {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 13px 27px -60px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}
.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  width: 100%;
  border: none;
  font-size: 14px;
  /* transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out; */
  transition: all 0.5s ease-in-out;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  /* margin: 0 auto; */
  transform: translateY(-30px);
  border-radius: 40px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  animation: float 2s linear infinite forwards;
}
/* ~는 input다음에 있는 sibling을 선택하게 하기위해 사용한다 */
.chat__write:focus ~ .chat__icon {
  opacity: 0;
}
.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  /* padding: 20px 10px;
  width: 100%;
  height: 80%;
  border: none;
  font-size: 14px; */
}

.message {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-bottom: 20px;
}

.message .message__content {
  width: 80%;
}
@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotate(1turn);
  }
}
.incoming-message img {
  width: 40px;
  border-radius: 20px;
  margin-right: 20px;
  animation: spin 1s linear 1;
}

.incoming-message {
  align-self: flex-start;
}

.sent-message {
  align-self: flex-end;
  margin-right: -30px;
}

.message .message__bubble {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  border-radius: 20px;
  background-color: white;
  padding: 10px 20px;
  color: white;
  font-weight: 500;
}

.incoming-message .message__author {
  margin-bottom: 7px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #ffe259, #ffa751);
  color: white;
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;

  background-image: linear-gradient(to left, #00c6ff, #0072ff);
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.incoming-message {
  animation: incomingAnim 0.8s ease-out forwards;
}
@keyframes sentAnimation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.sent-message {
  animation: sentAnimation 0.8s ease-out forwards;
}
