.nav {
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  bottom: 0px;
  left: 0px;
  padding: 20px 50px;
  /* fixed 상태에서는 반드시 width,height를 명시해줘야 나타난다  */
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}
.nav i {
  font-size: 21px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  top: -10px;
  right: -7px;
  font-size: 12px;
  color: white;
  background-color: #dc5d46;
  width: 18px;
  height: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
