/* 설정값을 default해서 어떠한 환경에서든 상관없이 같은 서비스를 제공 받을 수 있게 하기 위해 사용함 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";

/* 일부가 짤려서 안나오는 경우 해결방법 */
* {
  box-sizing: border-box;
}
body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  /* 부모 요소로부터 색깔을 받아온다 */
  text-decoration: none;
  /* 문장의 밑줄 같은거 다 없애줌 */
}
