/* css는 2가지 파트로 구성되어있다 */
/* 첫째로,selector, 둘째로 property 이다 */
/* property는 property-name:value; 이런식으로 생겼다 ,무조건 소문자사용 ,공백있으면안됨,마지막에 세미클론 붙여야함*/
/* selector는 만약 이 property를 내 html의 h1에 연결하고 싶다면 h1을 쓰고 괄호 열고 아까 작성한 property를 붙여넣기 하면된다 이것을 selector라고 한다 */
/* h1{property-name:value;} */
/* id와 class를 사용 할 경우에는 ,id의 경우 #이랑 같이 작성해야함 */
/* #{property-name:value;} */
/* 클래스의 경우 .name{property-name:value;}와 같이 .과 같이 작성해야함 */
/* 태그와 class를 합쳐서 사용할수도 있다 h1 .name{property-name:value;} */
/* selector (id,class,tag name){property-name:value;} */
/* style.css는 모든 html 문서 head와 연결 되어야 한다 */
/* html의 head에 <link href="styles.css" rel="stylesheet"> 라고 적는다 */
/* 많은 element들이 박스이다 */
/* 박스는 4개의 요소가 있다  */
/* 첫째는 컨텐츠,둘째는 박스의 보더(경계),세번째는 패딩.박스의 보더에서 안쪽으로있는 간격을 뜻한다,마지막으로 마진.박스의 보더에서 바깥쪽으로 있는 간격 */
h1 {
  color: green;
  font-size: 10px;
}
body {
  background-color: black;
}
